@model MeetingManager.Models.NewOrderModel

@{
    ViewData["Title"] = "Create reservation";
}


<section class="contact_area section_gap">
    <div class="container">
        <div class="row justify-content-center align-items-center flex-column">
            <div class="col-sm-12" style="text-align:center;">
                <h2 class="title_color">Confirm data below before create an order!</h2>
                <p>Already here...</p>
            </div>
        </div>
        <div class="row confirm-add-to-cart-row">
            <div class="col-sm-8">
                <div class="confirm-reservation-offert">
                    <div class="confirm-reservation-offert-image">
                        <img src="~/image/vacation.png" alt="create_order" />
                    </div>
                    <div class="confirm-reservation-text">
                        <h3 style="padding-left:25px; padding-top:25px;">@Html.DisplayFor(model => model.Offer.Title)</h3>
                        <p style="padding-left:25px;">Description: @Model.Offer.Description </p>
                        <p style="padding-left:25px;">From: @Model.CartLineItem.From.ToString("d") | To: @Model.CartLineItem.To.ToString("d")</p>
                        <p style="padding-left:25px;">Total price: <b>@Model.CartLineItem.TotalPrice</b></p>
                    </div>
                </div>
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Comment" class="control-label"></label>
                        <input asp-for="Comment" class="form-control" />
                        <span asp-validation-for="Comment" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="Offer" value="@Model.Offer" />
                    <input type="hidden" asp-for="CartLineItem" value="@Model.CartLineItem" />
                    <div class="form-group" style="text-align:center;">
                        <input type="submit" value="Create" class="btn theme_btn button_hover" />
                        <a asp-action="Index" class="btn button_hover theme_btn_two">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


