@model IEnumerable<MeetingManager.Models.Order>

@{
    ViewData["Title"] = "List";
}

<section class="contact_area section_gap">
    <div class="container">
        <div class="row justify-content-center align-items-center flex-column">
            <div class="col-sm-12">
                <nav class="nav nav-borders mb-3" style="border-bottom: 1px solid lightgray;">
                    <a asp-controller="UserDetailClient" asp-action="Index" class="nav-link">Profile</a>
                    <a asp-controller="DashboardClient" asp-action="Index" class="nav-link" style="color: #f3c300;">Offers</a>
                </nav>
            </div>
            <div class="col-lg-12 d-flex justify-content-between">
                <div>
                    <a href="/DashboardClient" class="btn theme_btn button_hover">All</a>
                    <a href="/DashboardClient?status=Created" class="btn theme_btn button_hover" >Open</a>
                    <a href="/DashboardClient?status=Saved" class="btn theme_btn button_hover">Saved</a>
                    <a href="/DashboardClient?status=Canceled" class="btn theme_btn button_hover">Cancelled</a>
                </div>
                <div>
                    <a asp-controller="DashboardClient" asp-action="Create" class="btn theme_btn button_hover">Create Offer</a>
                </div>
            </div>
            <div class="col-sm-12">
                <h2 class="title_color">Orders</h2>
            </div>
            <div class="col-lg-6 col-sm-10">
                @foreach (var item in Model)
                {
                <div class="cart-line-item">
                    @if (item.To < DateTime.Now)
                    {
                    <p class="order-status s-saved">Saved</p>
                    }

                    else if (item.Status == "Canceled")
                    {
                    <p class="order-status s-canceld">Cancelled</p>
                    }

                    else if (item.Status == "Created")
                    {
                    <p class="order-status s-open">Open</p>
                    }

                    <h3>Order no. #@item.Id</h3>
                    <p>From: @item.From.ToString("d") | To: @item.To.ToString("d")</p>
                    <p>Total costs: @item.Amount</p>
                    <a asp-action="OrderDetail" asp-route-id="@item.Id" class="btn theme_btn button_hover">Details</a>
                    @if (item.Status == "Created" && item.To > DateTime.Now)
                    {
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn custom-danger danger-hover">Cancel <i class="fas fa-ban"></i></a>
                    }
                </div>
                 }
            </div>
        </div>

    </div>
</section>
