@model IEnumerable<MeetingManager.Models.Order>

@{
    ViewData["Title"] = "List";
}

<section class="contact_area section_gap">
    <div class="container">
        <div class="row justify-content-center align-items-center flex-column">
            <div class="col-sm-12">
                <h2 class="title_color">Orders</h2>
            </div>
            <div class="col-lg-6 col-sm-10">
                @foreach (var item in Model)
                {
                <div class="cart-line-item">
                    @if (item.To < DateTime.Now)
                    {
                        <p class="order-status s-saved">Saved</p>
                    }

                    else if (item.Status == "Canceled")
                    {
                        <p class="order-status s-canceld">Cancelled</p>
                    }

                    else if (item.Status == "Created")
                    {
                        <p class="order-status s-open">Open</p>
                    }

                    <h3>Order no. #@item.Id</h3>
                    <p>From: @item.From.ToString("d") | To: @item.To.ToString("d")</p>
                    <p>Total costs: @item.Amount</p>
                    <a asp-action="OrderDetail" asp-route-id="@item.Id" class="btn theme_btn button_hover">Details</a>
                    @if (item.Status == "Created" && item.To > DateTime.Now)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn custom-danger danger-hover">Cancel <i class="fas fa-ban"></i></a>
                    }
                </div>
                 }
            </div>
        </div>

    </div>
</section>
