<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MeetingManagerMvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
</head>
<body>
    <header class="header_area">
        @{
            string userName = "";
            string userId = "";
        }
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="index.html"><img src="image/Logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav mx-auto">
                        <li class="nav-item active"><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="about.html">About us</a></li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="UserClient" asp-action="Details">
                                    @foreach (var claim in User.Claims)
                                    {
                                        @if (@claim.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name")
                                        {
                                            userName = claim.Value;
                                        }
                                        @if (claim.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier")
                                        {
                                            userId = claim.Value;
                                        }
                                    }
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="UserDetailClient" asp-route-id="@userId" asp-action="Index">@userName</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="UserClient" asp-action="Logout">Logout</a>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="UserClient" asp-action="LoginUser">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="UserClient" asp-action="RegistryUser">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    @RenderBody()

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MeetingManagerMvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
